In [3]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("../data/Benthos-26-2-83.csv")
df.head()

   Sample  Size Class Amphipod  Number
0       1        2.00        C       1
1       1        1.40        A       2
2       1        1.00        A      14
3       1        1.00        B       1
4       1        0.71        A      17